<%- include('../partials/header', {title}) %>

<main>
  <h1>Welcome to the mini messaging board</h1>
  <div class="card-container">
    <% messages.forEach((message) => { %>
    <div class="card">
      <div class="message">
        <%= message.text %>
      </div>
      <div class="data">
        <div class="author">
          <%= message.user %>
        </div>
        <div class="date">
          <%= message.added.toDateString() %>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</main>

<%- include('../partials/footer') %>